/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@font-face {
  font-family: 'Rounded';
  src: url('./assets/Rounded display St.ttf') format('truetype');
}

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* elements */
html,
body {
  overflow: hidden;
}

/* .background-video to make sure it covers the entire viewport */
.background-video {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; /* Ensure the video stays behind other content */
}

.background-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  transform: translate(-50%, -50%);
}

.button {
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1.01);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(100, 116, 139, 1.34);
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media (min-width: 1005px) and (max-width: 1024px) {
}

@media (min-width: 900px) and (max-width: 1005px) {
  .dial-container {
    width: fit-content;
    align-items: center;
    margin: auto;
  }

  .dialpad {
    height: 76vh;
    width: auto;
    display: grid;
    align-items: center;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .btn {
    height: 100%;
  }
}

@media all and (max-width: 480px) {
  .nav-container {
    display: flex;
    width: 100vw;
  }

  .btn {
    height: 10px;
    font-size: 10px;
    display: flex;
    /* justify-content: space-between; */
    margin-left: 0;
    margin-right: 0;
  }
}
